<template name="html3">
<div class="container">
	<h1>Lesson 3: Getting Started with HTML</h1>
	<div class="row">
		<div class="col-md-12">
			<h3> The basics of html </h3>
			<p> Lets get started by laying the foundations of the website. </p>
			<h6> Tags </h6>
			<p> Tags are what describe the type of content you wish to show. tjfsadlkjf are enclosed by a angle brackets </p>
		</div>
		<div class="col-md-6">
			{{> aceEditor1}}
		</div>
		<div class="col-md-6">
			<iframe id="preview"></iframe>
		</div>
	</div>
	<button type="button" id="checkmycode" class="btn btn-success">
	Check Code
	</button>

	<div class="modal fade" id="modalPass1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Code Results:</h4>
				</div>
				<div class="modal-body">
					<p>Code is Correct!</p>
					<p>You can either:</p>
					<li>Continue to next lesson.</li>
					<li>Return to play around with code.</li>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Play with Code</button>
					<button type="button" class="btn btn-primary">Continue to Next Lessons</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalFail2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Code Results:</h4>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

</div>
</template>
<template name="aceEditor3">
{{#constant}}
<div id='aceEditor3'>
</div>
{{/constant}}
</template>