<template name="html">
<div class="container">


	<h1>Lessons:</h1>

	<br>

			
				
			

	<table class="table table-bordered">
	<tr>
		<th> Lesson # </th>
		<th> Name </th>
		<th> Status </th>
	</tr>
  	<tr>
  		<td> 1 </td>
  		<td> First Step in HTML </td>
  		<td> <a href="{{pathFor 'html1'}}" >Start</a> </td>
  	</tr>
  	<tr>
  		<td> 3 </td>
  		<td> Headers </td>
  		<td> <a href="{{pathFor 'html2'}}" >Start</a>Coming Soon</button> </td>
  	</tr>
  	<tr>
  		<td> 3 </td>
  		<td> Paragraphs </td>
  		<td> <a href="{{pathFor 'html3'}}" >Start</a>Coming Soon</button> </td>
  	</tr>
	</table>

		
	




</div>


</template>



<template name="aceEditor">
{{#constant}}
<div id='aceEditor'>

</div>
{{/constant}}
</template>