<template name="htmlIntro">
<div class="container">
	<h1>Introduction 1: What in the world is HTML?</h1>
	
	<h4> HTML and the Tag </h4>
	<p>HTML (Hypertext Markup Language in fancy talk) is a language used to describe webpages for any web browser in the world! HTML uses the concept of <i>elements</i>. An element consists of <i>content</i> and a set of opening and closing <i>tags</i>.</p>

	<code> &lt;element&gt; content &lt;&#47;element&gt; </code>

	<br>

	<br>

	<p>The tags, which are marked with angle brackets, describe what kind of content you want the browser to show. The content in the middle is what you actually want to show.</p>

	<h4> A Shiny, New HTML Document! </h4>
	<p>Consider the following HTML file.</p>
	
	<code style="display: block">
	&lt;html&gt; <br>
	&thinsp;&thinsp;&lt;head&gt;<br>
	&thinsp;&thinsp;&thinsp;&lt;title&gt; My first HTML Doc! &lt;&#47;title&gt;<br>
	&thinsp;&thinsp;&lt;&#47;head&gt;<br>
	&thinsp;&thinsp;&lt;body&gt;<br>
	&thinsp;&thinsp;&thinsp;&lt;p&gt; Hello, World! &lt;&#47;p&gt;<br>
	&thinsp;&thinsp;&lt;&#47;body&gt;<br>
	&lt;&#47;html&gt;<br>
	</code>
	<br>

	<p>You'll find that most HTML documents look like this. Can you spot the tags? Let's go step-by-step.</p>

	<ol>

	<li><p>The html tags tell the browser "Hey, HTML document incoming!" so it doesn't mistake your webpage for a turtle.</p></li>

	<li><p>The head tags give the header of the document; they tell the browser some information about it, like what title for the browser bar to use (aptly marked by the title tags).</p></li>

	<li><p>The body tags tell the browser that whatever inside it is the actual meat of the document. You typically want all of your stuff to go inside the body tags. In our small document here, the p tag stand for paragraph, so they show text.</p></li>

		</ol>


	<p>Now that you've had a chance to see a real HTML document in the wild, try the following exercise!</p>


	<a href="{{pathFor 'html1'}}" >Start Exersice!</a>





</div>

</div>

</template>
