<template name="html1">
<div class="container">


	<h1>Lesson 1: Getting Started with HTML</h1>

	<div class="row">
		<div class="col-md-4">
			<h3> The basics of html <h3>
			<p> Lets get started by laying the foundations of the website. </p>

			<h6> Tags </h6>

			<p> Tags are what describe the type of content you wish to show. Tags are enclosed by a angle brackets (<>) <p>

		</div>
		<div class="col-md-8">
			 <textarea id="html" value="" placeholder="HTML" autocapitalize="off" autofocus></textarea>
    		 <textarea id="css" value="" placeholder="CSS" autocapitalize="off"></textarea>
    		 <textarea id="js" value="" placeholder="JavaScript" autocapitalize="off"></textarea>
    	     <a class="clearLink" href="#" title="Click to clear all">clear</a>

		</div>
		<div class="col-md-12">
			    <iframe id="preview"></iframe>

		</div>

	</div>
		


   
	
 

	



</div>


</template>



