<template name="html">
<div class="container">


  <h1>Lessons:</h1>

  <br>

      
        
      

  <table class="table table-bordered table-striped table-hover">
  <tr class="info">
    <th> Lesson # </th>
    <th> Name </th>
    <th> Status </th>
  </tr>
   <tr>
      <td>Introduction </td>
      <td> What in the world is HTML? </td>
      <td> <a href="{{pathFor 'htmlIntro'}}" >Start</a> </td>
</tr>
    <tr>
      <td>Excersice 1 </td>
      <td> About Me! </td>
      <td> <a href="{{pathFor 'html1'}}" >Start</a> </td>
</tr>
    <tr>
      <td>Excersice 2 </td>
      <td> The Art of Texting </td>
      <td> <a href="{{pathFor 'html2'}}" >Start</a> </td>
</tr>
<tr>
      <td>Excersice 3 </td>
      <td> Link me up, Scotty! </td>
      <td> <a href="{{pathFor 'html3'}}" >Start</a> </td>
</tr>
<tr>
  <td> Excersice 4 </td>
  <td> A Few Datums More </td>
  <td> <a href="{{pathFor 'html4'}}" >Start</a> </td>
</tr>

  </table>

    
  




</div>


</template>



