<template name="css">
<div class="container">


  <h1>Lessons:</h1>

  <br>

      
        
      

  <table class="table table-bordered">
  <tr>
    <th> Lesson # </th>
    <th> Name </th>
    <th> Status </th>
  </tr>
    <tr>
      <td> 1 </td>
      <td> First Steps in HTML </td>
      <td> <a href="{{pathFor 'css1'}}" >Start</a> </td>
    </tr>
    <tr>
      <td> 2 </td>
      <td> Paragraphs </td>
      <td> <a href="{{pathFor 'css2'}}" >Start</a> </td>
    </tr>
    <tr>
      <td> 3 </td>
      <td> Headers </td>
      <td> <a href="{{pathFor 'css3'}}" >Start</a></td>
    </tr>
    <tr>
      <td> 4 </td>
      <td> Lists </td>
      <td> <a href="{{pathFor 'css4'}}" >Start</a> </td>
    </tr>
    <tr>
      <td> 5 </td>
      <td> Tables </td>
      <td> <a href="{{pathFor 'css5'}}" >Start</a> </td>
    </tr>
    <tr>
      <td> 6 </td>
      <td> Paragraphs </td>
      <td> <a href="{{pathFor 'css'}}" >Start</a></td>
    </tr>
  </table>

    
  




</div>


</template>



