<template name="css">
<div class="container">


  <h1>Lessons:</h1>

  <br>

      
        
      

  <table class="table table-bordered">
  <tr>
    <th> Lesson # </th>
    <th> Name </th>
    <th> Status </th>
  </tr>
  <tr>
      <td> Introduction </td>
      <td> CS... What? </td>
      <td> <a href="{{pathFor 'cssIn'}}" >Start</a> </td>
    </tr>

    <tr>
      <td> Exercise 1 </td>
      <td> Stylish styles have some rules </td>
      <td> <a href="{{pathFor 'css1'}}" >Start</a> </td>
    </tr>
    <tr>
      <td> Exercise 2 </td>
      <td> Stylish styles have some rules </td>
      <td> <a href="{{pathFor 'css2'}}" >Start</a> </td>
    </tr>
    <tr>
      <td>Exercise 3 </td>
      <td> Headers </td>
      <td> <a href="{{pathFor 'css3'}}" >Start</a></td>
    </tr>
    <tr>
      <td>Exercise 4 </td>
      <td> Lists </td>
      <td> <a href="{{pathFor 'css4'}}" >Start</a> </td>
    </tr>
  
  </table>

    
  




</div>


</template>



