<template name="css2">
<div class="container">
	<h1>Exercise 2: Get classy with selectors.</h1>
	<div class="row">
		<div class="col-md-12">
    <p>Style with class and id selectors.</p>
    
    <h4>Element Selectors</h4>
    <p>You've already seen element selectors in the previous section.  To recap, element selectors consist of simply the name of the element you wish to style - for example, to style all <code>&lt;p&gt;</code> elements, the selector you need is <code>p</code>.</p>
    
    <h4>Class Selectors</h4>
    <p>Class selectors choose elements by their class attribute.  The format for a class selector is <code>.[class]</code>.  For example, the selector <code>.blue</code> would select <code>&lt;p class="blue"&gt;</code> and <code>&lt;div class="blue"&gt;</code> but not <code>&lt;p class="red"&gt;</code>.</p>
    
    <h4>ID Selectors</h4>
    <p>ID selectors function in exactly the same fashion as do class selectors, except that they select based on the id attribute instead of the class attribute.  The format for an id selector is <code>#[id]</code>.</p>
    
    <h4>Give It a Try</h4>
    <p>Your turn!  Style all of the <code>div</code>s to be colored red, all of the elements with the class <code>blue</code> to be colored blue, and all of the elements with id <code>green</code> to be styled green.</p>
</div>
		
		<div class="col-md-6 animated fadeInRight">
				<!-- Nav tabs -->


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="htmlTab">{{> htmlEditor2}}</div>
  <div class="tab-pane" id="cssTab">{{> cssEditor2}}</div>

</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#htmlTab" data-toggle="tab">HTML</a></li>
  <li><a href="#cssTab" data-toggle="tab">CSS</a></li>
 
</ul>
			
		</div>
		<div class="col-md-6">
			<div class="chrome-window animated fadeInLeft">
      			<iframe id="preview"></iframe>
    		</div>
			
		</div>
	</div>
	<br>
	<!-- <button type="button" id="checkmycode" class="btn btn-success">
	Check Code
	</button> -->

	<a href="{{pathFor 'css3'}}" class="btn btn-info">
	Continue to Excercise 3
	</a>

	<div class="modal fade" id="modalPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Code Results:</h4>
				</div>
				<div class="modal-body">
					<p>Code is Correct!</p>
					<p>You can either:</p>
					<li>Continue to next lesson.</li>
					<li>Return to play around with code.</li>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Play with Code</button>
					<button type="button" class="btn btn-primary">Continue to Next Lesson</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalFail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Code Results:</h4>
				</div>
				<div class="modal-body">
					<p>Sorry. This is not correct.</p>
					<p>Look out for: </p>
					<li>Closing all your elements with &lt;/elementName&gt; </li>

					<br>
					<p><small>Are you trying out different ideas in your HTML? </small></p>
					<p><small> Thats great! But first, try to complete the given task so you can get credit. Then you can try out some cool stuff.</small></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Return to lesson</button>
				</div>
			</div>
		</div>
	</div>



</div>

</template>

<template name="cssEditor2">
{{#constant}}
<div id='cssEditor2' class="aceEditor">
</div>
{{/constant}}
</template>

<template name="htmlEditor2">
{{#constant}}
<div id='htmlEditor2' class="aceEditor">
</div>
{{/constant}}
</template>