<template name="about">
	<div class="container">

		<div class="page-header">
  			<h1>About <small>HTMLearn</small></h1>
		</div>

		<p>HTMLearn is a site for first time web developers to learn all about HTML and CSS. In addition to making webpages, HTMLearn covers information about the best practices about designing webpages. </p>

		<blockquote>
  			<p>HTMLearn really helped by kick off my Web Development skills. It provided a clean easy way to start off from scratch!</p>
  			<footer>-Sashank Thupukari</footer>

		</blockquote>

		
		<p> Click the following link to learn more about the team behind HTMLearn</p>
		<a href="http://activities.tjhsst.edu/tsa/" class="btn btn-primary btn-lg active" role="button">Go There</a>		

	</div>
</template>