<template name="lessons">
<div class="container">

	<h1>Lessons:</h1>

	<br>

	<h3> Lesson Paths: </h3>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<h3>HTML</h3>
					<p>The foundation of a website</p>
					<p><a href="#" class="btn btn-primary" role="button">Go There</a> 
				</div>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class="thumbnail">
				<div class="caption">
					<h3>CSS</h3>
					<p>Make your webpages look good!</p>
					<p><a href="#" class="btn btn-primary" role="button">Go There</a> 
				</div>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class="thumbnail">
				<div class="caption">
					<h3>JavaScript</h3>
					<p>Add some interactivity to your website</p>
					<p><a href="#" class="btn btn-primary" role="button">Go There</a> 
				</div>
			</div>
		</div>
	</div>

</div>
</template>