<template name="lessons">
<div class="container">

	<h1>Lessons:</h1>

	<br>

	<h3> Lesson Paths: </h3>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail animated slideInLeft">
				<div class="caption">
					<h3>HTML</h3>
					<p>The foundation of a website</p>
					<a href="{{pathFor 'html'}}" class="btn btn-primary" role="button">Start Course!</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class="thumbnail animated fadeInUp">
				<div class="caption">
					<h3>CSS</h3>
					<p>Make your webpages look good!</p>
					<a href="{{pathFor 'css'}}" class="btn btn-primary" role="button">Start Course!</a> 
				</div>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class="thumbnail animated slideInRight">
				<div class="caption">
					<h3>JavaScript</h3>
					<p>Add some interactivity to your website</p>
					<a href="#" class="btn btn-primary" role="button">Coming Soon!</a> 
				</div>
			</div>
		</div>
	</div>




</div>


</template>


