<template name="css1">
<div class="container">
	<h1>Lesson 1: Getting Started with HTML</h1>
	<div class="row">
		<div class="col-md-12">
			<h3> The basics of HTML </h3>
			<p> Lets get started by laying the foundations of the website. </p>
			<h6> Tags </h6>
			<p> Tags are what describe the type of content you wish to show. tjfsadlkjf are enclosed by a angle brackets</p>
		</div>
		
		<div class="col-md-6 animated fadeInRight">
				<!-- Nav tabs -->


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="htmlTab">{{> htmlEditor1}}</div>
  <div class="tab-pane" id="cssTab">{{> cssEditor1}}</div>

</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#htmlTab" data-toggle="tab">HTML</a></li>
  <li><a href="#cssTab" data-toggle="tab">CSS</a></li>
 
</ul>
			
		</div>
		<div class="col-md-6">
			<div class="chrome-window animated fadeInLeft">
      			<iframe id="preview"></iframe>
    		</div>
			
		</div>
	</div>
	<br>
	<button type="button" id="checkmycode" class="btn btn-success">
	Check Code
	</button>

	<div class="modal fade" id="modalPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Code Results:</h4>
				</div>
				<div class="modal-body">
					<p>Code is Correct!</p>
					<p>You can either:</p>
					<li>Continue to next lesson.</li>
					<li>Return to play around with code.</li>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Play with Code</button>
					<button type="button" class="btn btn-primary">Continue to Next Lesson</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalFail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Code Results:</h4>
				</div>
				<div class="modal-body">
					<p>Sorry. This is not correct.</p>
					<p>Look out for: </p>
					<li>Closing all your elements with &lt;/elementName&gt; </li>

					<br>
					<p><small>Are you trying out different ideas in your HTML? </small></p>
					<p><small> Thats great! But first, try to complete the given task so you can get credit. Then you can try out some cool stuff.</small></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Return to lesson</button>
				</div>
			</div>
		</div>
	</div>



</div>

</template>

<template name="cssEditor1">
{{#constant}}
<div id='cssEditor1'>
</div>
{{/constant}}
</template>

<template name="htmlEditor1">
{{#constant}}
<div id='htmlEditor1'>
</div>
{{/constant}}
</template>