<template name="css1">
<div class="container">
	<h1>Exercise 1: Stylish styles have some rules.</h1>
	<div class="row">
		<div class="col-md-12">
    <p>Start to style using CSS rules.</p>

    <br>
    
    <h4>The Anatomy of a CSS Rule</h4>
    <p>A CSS rule tells the browser how to style an element, and consists of two basic parts: the <i>selector</i> and the <i>declarations</i>.  A single CSS rule is formatted like this: <code>[selector] { [declaration] [declaration] ... }</code></p>
    
    <h4>Selectors</h4>
    <p><b>Selectors</b> are the part of the rule that tell <i>what</i> is being styled.  We'll get into some types of selectors in the next lesson, but for now, let's stick with the most basic - the <i>element selector</i>.  Element selectors select all elements of the type matching their element; for example, the selector <code>p</code> selects all <code>&lt;p&gt;</code> elements.</p>
    
    <h4>Declarations</h4>
    <p><b>Declarations</b> are the part of the rule that tell <i>how</i> the selected element should be styled.  Their basic structure is <code>[property]: [value];</code>.  Elements have a wide range of properties to style, but to start we'll just start with a simple one: <code>color</code>.  Changing the <code>color</code> property of an element will change the text color within that element (for example, applying <code>color: red;</code> to an element will make all its text red).</p>
    
    <h4>Give It a Shot</h4>
    <p>This may seem like a lot to take in at once, so let's start with something simple.  Format all <code>i</code> elements so that their text is blue.</p>
	</div>
		
		<div class="col-md-6 animated fadeInRight">
				<!-- Nav tabs -->


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="htmlTab">{{> htmlEditor1}}</div>
  <div class="tab-pane" id="cssTab">{{> cssEditor1}}</div>

</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#htmlTab" data-toggle="tab">HTML</a></li>
  <li><a href="#cssTab" data-toggle="tab">CSS</a></li>
 
</ul>
			
		</div>
		<div class="col-md-6">
			<div class="chrome-window animated fadeInLeft">
      			<iframe id="preview"></iframe>
    		</div>
			
		</div>
	</div>
	<br>
	<button type="button" id="checkmycode" class="btn btn-success">
	Check Code
	</button>

	<div class="modal fade" id="modalPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Code Results:</h4>
				</div>
				<div class="modal-body">
					<p>Code is Correct!</p>
					<p>You can either:</p>
					<li>Continue to next lesson.</li>
					<li>Return to play around with code.</li>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Play with Code</button>
					<button type="button" class="btn btn-primary">Continue to Next Lesson</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalFail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Code Results:</h4>
				</div>
				<div class="modal-body">
					<p>Sorry. This is not correct.</p>
					<p>Look out for: </p>
					<li>Closing all your elements with &lt;/elementName&gt; </li>

					<br>
					<p><small>Are you trying out different ideas in your HTML? </small></p>
					<p><small> Thats great! But first, try to complete the given task so you can get credit. Then you can try out some cool stuff.</small></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Return to lesson</button>
				</div>
			</div>
		</div>
	</div>



</div>

</template>

<template name="cssEditor1">
{{#constant}}
<div id='cssEditor1'>
</div>
{{/constant}}
</template>

<template name="htmlEditor1">
{{#constant}}
<div id='htmlEditor1'>
</div>
{{/constant}}
</template>